body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 0;
}

header {
  background: #32002f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 650px;
  background: #d8d0d8;
  margin: 20px auto;
  padding: 25px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

label,
legend {
  margin-top: 15px;
  font-weight: bold;
}

select,
input,
textarea {
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

textarea {
  height: 120px;
}

.features label {
  margin-top: 8px;
  display: block;
}

.rating-group label {
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
}

.submit-btn {
  margin-top: 25px;
  padding: 14px;
  background: #fff;
  border: 2px solid #444;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
}

footer {
  background: #32002f;
  color: white;
  text-align: center;
  padding: 20px;
}
