@media only screen and (min-width: 32rem) {
  /* Hide hamburger */
  #menu {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    background: none;
  }

  .album {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  main {
    max-width: 1200px;
  }
}
